@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
*{
  font-family: 'Dancing Script', cursive;
}
p{
  font-weight: bold;
  color: black;
}
img{
  box-shadow: 2px 2px #02010a;
  -webkit-box-shadow: 2px 2px #02010a;
  -moz-box-shadow: 2px 2px #02010a;
  -o-box-shadow: 2px 2px #02010a;
}
body{
  background-color: #02010a;
  margin: 1em;
}
.contenido{
  margin: auto;
  max-width: 900px;
  margin-top: 10px; 
  margin-bottom: 10px;
}

/* HEADER */

header{
  background-color: #5b7989;
  border-radius: 10px 10px 0 0;
  padding: 20px;
}
header > h1 {
  color: white;
  text-align: left;
  display: inline;
  line-height: 1em;
  text-shadow: 2px 2px #02010a;
  -webkit-text-shadow: 2px 2px #02010a;
  -moz-text-shadow: 2px 2px #02010a;
  -o-text-shadow: 2px 2px #02010a;
}

/* MENU */
.menu{
  float: right;
}
.menu ul li {
  text-decoration: none;
  display: inline;
  margin: 0.4em;
}
.activo {
  text-decoration: none;
}
.menu ul li a {
  color: white;
  font-size: 1em;
}
/* BANNER */
.bannerimg{
  text-align: center;
  margin: auto;
  background-color: #82c3a6;
  padding: 20px 0 20px 0;
}
.bannerimg picture img{
  width: 90%;
}

/* IMAGENES DE ARTICULOS */

article {
  margin: auto;
  text-decoration: underline;
  font-weight: bold;
}
.imgscolumn {
  background-color: #d5c75f;
  text-align: center;
  padding: 20px 0 20px 0;
  display: flex;
  flex-wrap: wrap;
}
.imagenes {
  display: inline;
}
.imagenes > img{
  display: inline;
  margin: 0 20px 0 20px;
  border: 1px solid black;
}
#paisaje:hover{
  border: 2px solid #82c3a6;
  -webkit-transform: rotate(-10deg);
  -webkit-transition-duration: 1s;
  -moz-transform: rotate(-10deg);
  -moz-transition-duration: 1s;
  -o-transform: rotate(-10deg);
  -o-transition-duration: 1s;
}
#retrato:hover{
  border: 2px solid #82c3a6;
  -webkit-transform: translate(20px, -5px);
  -webkit-transition-duration: 1s;
  -moz-transform: translate(20px, -5px);
  -moz-transition-duration: 1s;
  -o-transform: translate(20px, -5px);
  -o-transition-duration: 1s;
}

/* FOOTER */

.footer{
  display: flex;
  flex-wrap: wrap; 
  flex-direction:wrap;
  background-color: #C6d5c5;
  border-radius: 0 0 10px 10px;
  padding-bottom: 20px; 
}
.footer a{
  font-weight: bold;
  color: black;
}
.footer > div{
  min-width: 165px;
  margin: auto;
  margin-top: 20px;
}
.contacto{
  order: 1;
  max-width: 20%;
  padding-left: 5%;
}
.politicas{
  order: 2;
  max-width: 20%;
  padding-left: 5%;
}
.redes-sociales{
  order: 3;
  max-width: 20%;
  padding-left: 5%;
}
.copyright{
  order: 4;
  max-width: 20%;
  padding-left: 5%;
}

/* RESPONSIVE */

@media (max-width: 900px){
  header{
    text-align: center;
  }
  .menu{
    float: none;
    margin: auto;
    margin-top: 2em;

  }
  .footer{
    flex-direction: column;
  }
  .menu ul {
    padding: 0;
  }
}
@media (max-width: 420px){
  .imagenes > img{
    width: 80%;
  }
  .footer > div {
    float: left;
    margin: 0;
    margin-top: 1em;
  }
}
