@import url('https://fonts.googleapis.com/css?family=Vibur');
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
}
h1, p, a {
  font-family: 'Vibur', cursive;
}
header , .imgscolumn , .footer, .bannerimg {
max-width: 960px;
margin: auto;
}
header{
  background-color: #5b7989;
  border-radius: 10px 10px 0 0;
}
header > h1 {
  color: white;
  margin: 10px;
  text-align: left;
}
.menu{
  text-align: right;
  display: inline;
}
.menu ul li {
  text-decoration: none;
  display: inline;
  margin: 10px;
}
.menu ul li a {
  color: white;
}
.imgscolumn {
  display: flex;
  flex-direction: wrap;
}
.imgscolumn > article{
  padding: 40px;
  background-color: #d5c75f;
  margin: auto;
  text-align: center;
  width: 430px;
}
.bannerimg{
  text-align: center;
  margin: auto;
  background-color: #82c3a6;
  padding: 20px 0 20px 0;
}
.bannerimg picture img{
  width: 90%;
}
.footer{
  display: flex;
  flex-direction:wrap;
  flex-wrap: wrap;
  background-color: #C6d5c5;
}
.contacto{
  order: 1;
  max-width: 20%;
  padding-left: 5%;
}
.politicas{
  order: 2;
  max-width: 20%;
  padding-left: 5%;
}
.redes-sociales{
  order: 3;
  max-width: 20%;
  padding-left: 5%;
}
.copyright{
  order: 4;
  max-width: 20%;
  padding-left: 5%;
}
